nav {
    width: 100%;
    height: 100px;
    border: solid 1px #b4b4b4;
    background-color: #ffffff;
}

body {
    background-color: #E1E4E8;
}

#logoPicture {
    position: absolute;
    display: inline-flex;
    top: 15px;
    left: 5%;
    height: 70px;
}

/*lol accountICon isnt there yet*/
#accountIcon {
    position: absolute;
    display: inline-flex;
    top: 5%;
    left: 80%;
    width:60px;
    height: 60px;
    border-radius: 50%;
    //border: solid 1px #979797;
    background-color: #d8d8d8;
}

#heart {
    position: absolute;
    display: inline-flex;
    top: 5%;
    left: 90%;
    width:60px;
    height: 60px;
}


.Find-Prompt {
    position: relative;
    top: 25%;
    left: 40%;
    right: 40%;
    bottom: 56%;
    width: 311px;
    height: 154px;
    font-family: Helvetica;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: #4a4a4a;
}

.searchform {
}


.miniSearchBar {
    position: absolute;
    display: flex;
    top: 6%;
    left: 30%;
    width: 40%;
    height: 50px;
    border: solid 1px #979797;
    background-color: #ffffff;
    text-align: center;
}

#search-submit {
    background-image: url(./assets/imgs/search-glass.png);
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    top: 7%;
    left: 66%;
    width: 40px;
    height: 40px;
    z-index: 1;
}


input, select, textarea {
    font-size: 35px;
}

.sortRect {
    width: 100%;
    height: 50px;
    border: solid 1px #c6c6c6;
    background-color: #ffffff;
}

.Sort-By {
    position: relative;
    display: inline-flex;
    left: 70%;
    top: -15%;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.sortMenu {
    position: relative;
    display: inline-flex;
    left: 70%;
    top: -15%;
    width: 280px;
    height: 30px;
    font-family: Helvetica;
    font-size: 24px;
    text-align: center;
    color: #4a4a4a ;
    border: solid 1px #979797;
    background-color: #ebebeb
}

.Explore {
    width: 133px;
    height: 43px;
    margin: auto;
    padding: 30px;
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.ExploreOrange {
    width: 133px;
    height: 43px;
    position: relative;
    left: 15%;
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: orange;
}


.pageHeader {
    position: relative;
    z-index: 2;
    width: 100%;
    padding-top: 20px;
    height: 50px;
}

#backExplore {
    position: relative;
    left: 10%;
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    z-index: 1;
    color: #4a4a4a;
    border: none;
    background-color: transparent;
}

#savedText {
    position: relative;
    left: 30%;
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    border: none;
    background-color: transparent;

}

#analyzeText {
    position: relative;
    left: 42%;
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
}

#clearList {
    position: relative;
    left: 45%;
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    color:firebrick;
    font-style: italic;
}

.analyzeOrange {
    position: absolute;
    top: 36%;
    left: 79.75%;
    width: 200px;
    height: 60px;
    border: solid 3px;
    border-color: orange;
    background-color: #ffffff;
}


#analyzeTextOrange {
    position: relative;
    top: -45%;
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    color: orange;
}


.grid {
    display: grid;
    align-items: center;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    grid-gap: 50px 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.itemBox {
    margin: auto;
    min-width: 360px;
    min-height: 540px;
    border: transparent 1px #979797;
    background-color: #ffffff;
}

#itemBox3spec {
    position: absolute;
    display: inline-block;
    left: 70%;
    width: 360px;
    height: 540px;
    border: solid 1px #979797;
    background-color: #ffffff;
}

.innerBox {
    position: absolute;
    margin: 14px;
    width: 330px;
    height: 330px;
    border: solid 2px #979797;
    background-color: #ffffff;
}

.bottomBox {
    position: relative;
    margin: 10px;
    top: 65%;
    width: 340px;
    height: 160px;
    border: transparent 1px #979797;
    background-color: #ffffff;
}

.rateBox {
    position: absolute;
    top: 105%;
    width: 360px;
    height: 160px;
    border: solid 1px #979797;
    background-color: #ffffff;
}


#rate3 {
    position: absolute;
    width: 360px;
    height: 160px;
    border: solid 1px #979797;
    background-color: #ffffff;
    border: solid 3px orange;
    border-color: orange;
} */


.aPriceImg {
    width: 100%;
}


.itemPic {
    max-width:100%;
    max-height:100%;
    display: block;
    margin: auto;
    height: auto;
}

.itemHeart {
    position: relative;
    top: 10px;
    right: -85%;
    width: 9%;
}

.resultsText {
    position: absolute;
    font-family: "Helvetica";
    font-size: 24px;
    color: #4a4a4a;
}

#title {
    position: absolute;
    width: 280px;
    font-size: 26px;
    font-weight: bold;
    top: -8%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}


#textPrice {
    position: absolute;
    top: 15%;
}

#itemPrice {
    position: absolute;
    right: 5%;
    top: 15%;

}

#ratingText {
    position: absolute;
    top: 40%;
}

.stars {
    position: absolute;
    top: 52%;
    right: 5%;
    width: 50%;
}

.storeText {
    position: absolute;
    top: 55%;
    font-family: "Helvetica";
    font-size: 36px;
    font-weight: bold;
    color: #4a90e2;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0.5px;
    height: 45px;
    border: transparent 1px #b4b4b4;
    background-color: #8CA6BF;
}


ul#footerMenu li {
    display:inline;
}


.footerText {
    position: relative;
    top: -6px;
    display: flex;
    font-family: "Helvetica";
    font-size: 20px;
    font-weight: bold;
    color: #E1E4E8;
    white-space:nowrap;
    z-index: 1;
}

li {
    flex-grow: 4;
    margin-left: 5%;
    margin-right: 5%;
}

/*
.footer2 {
text-align: right;
position: absolute;
top: 100%;
width: 100%;
height: 20px;
border: transparent 1px #b4b4b4;
background-color: #ffffff;
} 
*/

#location {
    margin: auto;
    font-size: 20px;
    font-family: "Helvetica";
    font-weight: bold;
    color: #4a4a4a;
    white-space:nowrap;
    z-index: 1;
}

#locationMenu {
    position: relative;
    width: 280px;
    height: 25px;
    font-family: "Helvetica";
    font-size: 20px;
    text-align: center;
    color: #4a4a4a ;
    border: solid 1px #979797;
    background-color: #ebebeb;
    z-index: 1;
}


.information {
    display: grid;
    grid-template-columns: 50% 30%;
    margin-left: 100px;
    margin-top: 20px;
    grid-gap: 20px;
    padding: 20px;
}

#inoText {
    grid-column-start: 1;
    grid-column-end: 3;
}


.information h1 {
    font-family: "Helvetica";
    font-size: 36px;
    font-weight: bold;
    color: #4a4a4a;
}

.information p {
    font-family: "Helvetica";
    font-size: 20px;
    line-height: 1.5;
    font-weight: 100;
}

.infoIcon {
    margin-top: 50px;
    width: 100%;
}

.infoRow {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    height: 5px;
    margin:  0px 80px 0px;
    background-color: transparent;
}

.infoRowIcon {
    width: 50%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    z-index: 1; /* Sit on top */
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px  #888;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 15%;
    font-family: "Helvetica";
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content div button {
    float:right;
    padding: 5px 40px 5px;
    margin: 0px 5px 0px;
    text-align:center;
    font-family: "Helvetica";
    font-size: 18px;
}

#yes {
    color:darkred;
}


.account {
    width: 133px;
    height: 43px;
    margin: auto;
    padding: 20px;
    font-family: "Helvetica";
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.accountHeader {
    width: 100%;
    height: 40px;
    border: solid 0.5px #c6c6c6;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    font-family: "Helvetica";
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #4a4a4a;
    padding-top: 20px;
}

a {
    color: unset;
    text-decoration-line: none;
    color: #4a4a4a;
}

a:active {
    color: gray;
}

a:hover{
    text-decoration: underline;
}

a.current {
  text-decoration: underline;

}

.grid-container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 20px 5%;
    padding: 30px 15% 30px; 
    margin-bottom: 50px;
}
.grid-container > div {
    border: solid 1px #c6c6c6;
    padding: 20px 40px;
    font-family: "Helvetica";
    font-size: 20px;
    color: #4a4a4a;
    line-height: 1.5;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.item3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-container button {
    color: white;
    background-color:#4a4a4a;
    padding: 8px 40px;
    font-family: "Helvetica";
    font-size: 18px;
}

.grid-container p {
     font-size: 2.5vh;
    font-size: 1.1vw;
}

.personalDetail {
    border: solid 1px #c6c6c6;
    margin: 40px auto;
    width: 40%;
    font-family: "Helvetica";
    font-size: 20px;
    color: #4a4a4a;
    padding: 20px 40px;
}

.personalDetail button {
    color: white;
    background-color:#4a4a4a;
    padding: 8px 40px;
    font-family: "Helvetica";
    font-size: 18px;
}

.feedback {
    border: solid 1px #c6c6c6;
    margin: 40px auto;
    width: 40%;
    font-family: "Helvetica";
    font-size: 20px;
    color: #4a4a4a;
    padding: 20px 40px;
}

textarea {
    font-family: "Helvetica";
    font-size: 20px;
    display: block;
    width: 80%;
    margin: 20px 0px;
}

.feedback button {
    color: white;
    background-color:#4a4a4a;
    padding: 8px 40px;
    font-family: "Helvetica";
    font-size: 18px;
}

