.HeaderRect {
  	width: 100%;
  	height: 180px;
  	border: solid 1px #b4b4b4;
	background-color: #ffffff;
}

.Logo {
	position: relative;
	top: 35%;
	left: 5%;
 	width: 250px;
 	height: 60px;
 	border: solid 1px #979797;
 	background-color: #ebebeb;
}

#logoPicture {
  position: relative;
  top: -8px;
  left: 0;
  width: 100%;
  height: 120%;
}

.Oval {
	position: relative;
	display: inline-block;
	top: -65px;
	left: 83%;
  	width: 60px;
  	height: 60px;
  	border-radius: 50%;
  	border: solid 1px #979797;
  	background-color: #d8d8d8;
}

.Heart {
	position: relative;
	display: inline-block;
	top: -65px;
	left: 86%;
  	width:60px;
  	height: 60px;
}

main {
	text-align: center;
}

.Find-Prompt {
	position: relative;
	top: 25%;
	left: 40%;
	right: 40%;
	bottom: 56%;
	width: 311px;
	height: 154px;
	font-family: Helvetica;
	font-size: 64px;
	font-weight: bold;
	text-align: center;
	color: #4a4a4a;
}

.SearchBar {
	width: 50p%;
	height: 80px;
	border: solid 1px #979797;
	background-color: #ebebeb;
	text-align: center;
}

.searchButton {
	position: relative;
	bottom: -20px;
	left: -5.5%;
	width: 60px;
	height: 60px;
}

 .miniSearchBar {
	position: relative;
	display: inline-block;
	top: 40%;
	left: 30%;
	width: 50%;
	height: 60px;
	border: solid 1px #979797;
	background-color: #ebebeb;
	text-align: center;
}

.miniSearchButton {
	position: relative;
	display: inline-block;
	bottom: -10px;
	left: 380px;
	width: 45px;
	height: 45px;
}

.search {

}

input, select, textarea {
	font-size: 35px;
}

body {
	background-color: rgba(216, 216, 216, 0.5);
}

.sortRect {
	width: 100%;
  	height: 50px;
  	border: solid 1px #c6c6c6;
  	background-color: #ffffff;
}

.Sort-By {
	position: relative;
	top: -25%;
	left: 71.5%;
	font-family: Helvetica;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;
}

.Explore {
	width: 133px;
	height: 43px;
	position: relative;
	top: 25%;
	left: 45%;
	right: 40%;
	bottom: 56%;
	font-family: Helvetica;
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;
}

.Explore {
	width: 133px;
	height: 43px;
	position: relative;
	top: 25%;
	left: 45%;
	right: 40%;
	bottom: 56%;
	font-family: Helvetica;
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;
}

.ExploreOrange {
	width: 133px;
	height: 43px;
	position: relative;
	left: 15%;
	font-family: Helvetica;
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: orange;
}

#backExplore {
	
	position: relative;
	top: 25%;
	left: -35%;
	font-family: Helvetica;
	font-size: 36px;
	font-weight: bold;

	color: #4a4a4a;
}

#savedText {
	width: 133px;
	height: 43px;
	position: absolute;
	top: 33%;
	left: 45%;
	right: 40%;
	bottom: 56%;
	font-family: Helvetica;
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;
}

.analyze {
	position: absolute;
	top: 36%;
	left: 79.75%;
  width: 200px;
  height: 60px;
  border: solid 1px #979797;
  background-color: #ffffff;
}

#analyzeText {
	position: relative;
	top: -45%;
	font-family: Helvetica;
	font-size: 36px;
	font-weight: bold;
}

.analyzeOrange {
	position: absolute;
	top: 36%;
	left: 79.75%;
  width: 200px;
  height: 60px;
  border: solid 3px;
  border-color: orange;
  background-color: #ffffff;
}

#analyzeTextOrange {
	position: relative;
	top: -45%;
	font-family: Helvetica;
	font-size: 36px;
	font-weight: bold;
	color: orange;
}

.rateBox {
	position: relative;
	top: 15%;
  width: 360px;
  height: 160px;
  border: solid 1px #979797;
  background-color: #ffffff;
}

#rate3 {
	border: solid 3px orange;
	border-color: orange;
}

.aPriceImg {
	width: 100%;
}

.sortMenu {
	position: relative;
	width: 299px;
	height: 30px;
	top: -65px;
	left: 78%;
	font-family: Helvetica;
    font-size: 24px;
    text-align: center;
    color: #4a4a4a ;
	border: solid 1px #979797;
	background-color: #ebebeb
}

.itemBox {
	width: 360px;
	height: 540px;
	border: solid 1px #979797;
	background-color: #ffffff;
}

#itemBox1 {
	position: relative;
	left: 5.8%;
}

#itemBox2 {
	position: absolute;
	top: 360px;
	left: 37.6%;
}

#itemBox3 {
	position: relative;
	top: -485px;
	left: 133%;
}

#itemBox3spec {
	position: relative;
	top: -647px;
	left: 133%;
}

.innerBox {
	position: relative;
	top: 5%;
	left: 8%;
  	width: 300px;
  	height: 300px;
  	border: solid 1px #979797;
  	background-color: #ffffff;
}

.bottomBox {
	position: relative;
	top: 57px;
	left: -1px;
  	width: 360px;
  	height: 180px;
  	border: solid 1px #979797;
  	background-color: #ffffff;
}

.itemPic {
	width: 100%;
}

.itemHeart {
	position: relative;
	top: 15px;
	left: 40%;
	width: 9%;
}

.resultsText {
	position: relative;
  	font-family: Helvetica;
  	font-size: 24px;
  	font-weight: bold;
  	color: #4a4a4a;
}


#textPrice {
  left: -33%;
}

#itemPrice {
	top: -30%;
	left: 40%;
}

#ratingText {
	top: -35%;
	left: -29.5%;
}

.stars {
	position: relative;
	top: -115px;
	left: 19%;
	width: 50%;
}

.storeText {
	position: relative;
	top: -83%;
	left: -23%;
	font-family: Helvetica;
	font-size: 36px;
	font-weight: bold;
	color: #4a90e2;
}
